<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>
  <div class="form-floating my-3">
    <input type="text" class="form-control" formControlName="firstName"  id="firstName" placeholder="First Name">
  </div>
  <div class="form-floating my-3">
    <input type="text" class="form-control" formControlName="lastName"  id="lastName" placeholder="Last Name">
  </div>
  <div class="form-floating my-3">
    <input type="email" class="form-control" formControlName="email"  id="email" placeholder="name@example.com">
  </div>
  <div class="form-floating my-3">
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <div *ngIf="f?.password?.touched && f?.password?.invalid" class="alert alert-danger">
      <div *ngIf="f?.password?.errors?.required">Password is required.</div>
      <div *ngIf="f?.password?.errors?.minLength">minlength</div>
    </div>
  </div>
  <div class="form-floating my-3">
    <input type="password" class="form-control"  formControlName="confirmPassword" placeholder="Confirm Password">
    <div *ngIf="f?.password?.touched && f?.password?.invalid" class="alert alert-danger">
      <div *ngIf="f?.password?.errors?.required">Password is required.</div>
      <div *ngIf="f?.password?.errors?.['confirmedValidator']">Password and Confirm Password must be match.</div>
    </div>
  </div>

  <button [disabled]="form.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
</form>
