:host{
  height: 100%;
}
.main-layout {
  width: 100%;
  min-height: 100%;
  display: block;
  background-color: rgba(72, 69, 69, 0.06);
  .content {
    margin: unset;
    padding: unset;
    width: 100%;

  }
}
