<header [ngStyle]="{
'background-color': project.color
}" >
  <div class="container ">
    <div class="d-flex flex-wrap align-items-center  justify-content-between  gap-3">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none logo ">
        <h1 class="logo-pr">ACTIVE</h1>
      </a>
      <ng-container *ngIf="isAuth; else notAuth">
        <div class="nav-menu">


          <ng-container *ngIf="currentProject">

            <button [routerLink]="['/projects/setting']" class="btn btn-primary">Setting</button>

          </ng-container>

          <button [routerLink]="['/projects/add']" class="btn btn-primary ">create</button>
          <!--          <div class="container">-->


          <button class="btn btn-primary" >
            <select
              [ngModel]="currentProject?.id" (ngModelChange)="selectProject($event)" class="dropdown-item">
              <option class="clr" *ngFor="let project of projects$ | async" [value]="project.id">
                {{project.name}}
              </option>
            </select>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><span class="material-icons">arrow_drop_down</span>

          </button>
          <mat-menu  #beforeMenu="matMenu" xPosition="before">

            <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
            <button mat-menu-item [routerLink]="['/users']" [appPermissions]="['user:list']">Users</button>
            <button mat-menu-item [routerLink]="['/roles']">Roles</button>
            <button mat-menu-item [routerLink]="['/backlog']">Backlog</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
      </ng-container>
      <ng-template #notAuth>
        <div class="col-md-3 text-end">
          <button routerLink="/auth/login" type="button" class="btn btn-primary me-2">Login</button>
          <button routerLink="/auth/register" type="button" class="btn btn-primary">Sign-up</button>

        </div>
      </ng-template>
    </div>
  </div>
</header>

