<header>
  <div class="container ">
    <div class="d-flex flex-wrap align-items-center  justify-content-between  gap-3">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none logo ">
        <h1 class="logo-pr">ACTIVE</h1>
      </a>
      <ng-container *ngIf="isAuth; else notAuth">

        <form class=" col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="pr-color form-control search" placeholder="Search..." aria-label="Search">
        </form>
        <div class="nav-menu">

          <ng-container *ngIf="currentProject">

            <button [routerLink]="['/projects/setting']" class="btn btn-primary">Setting</button>

          </ng-container>

          <button [routerLink]="['/projects/add']" class="btn btn-primary ">create</button>
          <!--          <div class="container">-->

          <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><span class="material-icons">arrow_drop_down</span>

          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">

            <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
            <button mat-menu-item [routerLink]="['/users']">Users</button>
            <button mat-menu-item [routerLink]="['/roles']">Roles</button>
            <button mat-menu-item [routerLink]="['/backlog']">Backlog</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
          <button>
            <select
              [ngModel]="currentProject?.id" (ngModelChange)="selectProject($event)" class="dropdown-item">
              <option *ngFor="let project of projects$ | async" [value]="project.id">
                {{project.name}}
              </option>
            </select>
          </button>
          <!--            <div cdkListbox class="dropdown text-end w-50 h-50 ">-->
          <!--            <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"-->
          <!--               aria-expanded="false">-->

          <!--            </a>-->
          <!--            <ul  class="dropdown-menu text-small">-->
          <!--             <select-->
          <!--                    [ngModel]="currentProject?.id" (ngModelChange)="selectProject($event)" class="dropdown-item">-->
          <!--                  <option *ngFor="let project of projects$ | async" [value]="project.id">-->
          <!--                    {{project.name}}-->
          <!--                  </option>-->
          <!--                </select>-->

          <!--              <li>-->
          <!--                <hr class="dropdown-divider">-->
          <!--              </li>-->
          <!--              <li cdkDropList><a class="dropdown-item " [routerLink]="['/users']" >users</a></li>-->
          <!--              <li cdkDropList ><a class="dropdown-item " (click)="logout()">Logout</a></li>-->

          <!--            </ul>-->
          <!--          </div>-->
          <!--          </div>-->
        </div>
      </ng-container>
      <ng-template #notAuth>
        <div class="col-md-3 text-end">
          <button routerLink="/auth/login" type="button" class="btn btn-primary me-2">Login</button>
          <button routerLink="/auth/register" type="button" class="btn btn-primary">Sign-up</button>

        </div>
      </ng-template>
    </div>
  </div>
</header>

