<div class="container">
 <div class="board-name">  {{board.name}}</div>
  <div class="columns" cdkDropListGroup>
    <div class="column"
         cdkDropList
         *ngFor="let column of board.columns"
         [cdkDropListData]="tasks[column.id] || []"
         (cdkDropListDropped)="drop($event, column)">
      <div class="column-head">
        <h3>{{column.name}}</h3>
        <button mat-icon-button (click)="addTask(column)"> 	<mat-icon>add_task</mat-icon></button>
      </div>
      <div class="tasks">
        <div class="card" *ngFor="let task of tasks[column.id] || []" cdkDrag (dblclick)="viewTask(task, column)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <h4>{{task.id}}</h4>
          <p>{{task.name}}</p>
        </div>
      </div>
    </div>
    <div class="column">


      <button mat-icon-button routerLink="/projects/setting/boards/add" > <mat-icon> add </mat-icon>   </button>


    </div>




  </div>
</div>
