<div class="container">
  <div class="sidebar">
    <ul>

    </ul>
  </div>
  <div class="content">
    <div >
      <ul class="project">
        <li class="project_card" *ngFor="let project of projects$ |async">
          <a [routerLink]="['/dashboard', project.id]">
            <div>
              <div>
                {{project.id}}
              </div>
              <div>
                {{project.name}}
              </div>
              <div>
                {{project.description}}
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
</div>

</div>
