<form [formGroup]="form" >
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" class="form-control" formControlName="name"  id="name" placeholder="name">
  </mat-form-field>
  <mat-form-field>
    <input type="text" class="form-control" formControlName="abbreviation"  id="abbreviation" placeholder="abbreviation">
    <mat-label >abbreviation</mat-label>
    </mat-form-field>
  <mat-form-field>
    <input type="text" class="form-control" formControlName="description"  id="description" placeholder="description">
    <mat-label>description</mat-label>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput placeholder="Color" formControlName="color" type="color">
  </mat-form-field>

  <button mat-button class="btn" (click)="save()">create</button>
</form>
