.form-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #656464;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  .columns{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: rgba(96, 94, 94, 0.99);
}

